.clearfix ::after {
content: '';
display: block;
clear: both;
}

#gameField {
border: 1px solid black;
/* height: 500px;
width: 960px; */

}

canvas {
    float: left;
    margin-right: 20px;
}
 

.textCenter {
    text-align: center;
}

.textRight {
    text-align: right;
}