body {
    display: block;
    margin: auto;
    text-align: center;
}

.clearfix :after {
content: '';
display: block;
clear: both;
}

.info {
    display:inline-table;
    
}

.imgInfo {
    padding-left: 20px;
}



#gameField {
border: 1px solid black;
/* height: 500px;
width: 960px; */

}

canvas {
    /* float: left; */
    /* margin-right: 20px; */
    margin-top: 20px;
}
 

.textCenter {
    text-align: center;
}

.textRight {
    text-align: right;
}